:root {
  font-family: "PingFang SC", "Microsoft YaHei", sans-serif;
  color: #1f2937;
  background-color: #f4f6f8;
}

* {
  box-sizing: border-box;
}

html,
body,
#app {
  margin: 0;
  width: 100%;
  min-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
